PORT=3000
NODE_ENV=development

# Database Configuration (PostgreSQL)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/stock_opname_db?schema=public"

# JWT Configuration
JWT_SECRET="supersecret_jwt_key_stock_opname_2026"
JWT_EXPIRES_IN="1d"
